Análise Exploratória

In [ ]:
import pandas as pd

In [9]:
#carregamento dos dados
caminho_entrada = r"C:\Users\camil\OneDrive\Área de Trabalho\Pessoal\Pós Graduação\Fase 5\Datathon\Base_de_Dados_Passos_Magicos.xlsx"
caminho_saida = r"C:\Users\camil\OneDrive\Área de Trabalho\Pessoal\Pós Graduação\Fase 5\Datathon\Base_Unificada_Completa.xlsx"
xls = pd.ExcelFile(caminho_entrada, engine='openpyxl')

In [10]:
# Lê cada aba individualmente
df_2022 = pd.read_excel(xls, sheet_name='PEDE2022')
df_2023 = pd.read_excel(xls, sheet_name='PEDE2023')
df_2024 = pd.read_excel(xls, sheet_name='PEDE2024')

In [11]:
#Padronização

#2022
df_2022['PEDE_ANO'] = 2022
df_2022['INDE_ATUAL'] = df_2022['INDE 22']
df_2022['PEDRA_ATUAL'] = df_2022['Pedra 22']
df_2022 = df_2022.rename(columns={'Ano nasc': 'Data de Nasc', 'Fase ideal': 'Fase Ideal'})
df_2022['Gênero'] = df_2022['Gênero'].replace({'Menina': 'Feminino', 'Menino': 'Masculino'})

#2023
df_2023['PEDE_ANO'] = 2023
df_2023['INDE_ATUAL'] = df_2023['INDE 2023']
df_2023['PEDRA_ATUAL'] = df_2023['Pedra 2023']

#2024
df_2024['PEDE_ANO'] = 2024
df_2024['INDE_ATUAL'] = df_2024['INDE 2024']
df_2024['PEDRA_ATUAL'] = df_2024['Pedra 2024']


#Junta tudo em uma tabela só
df_unificada = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)

#Garante que INDE é número (corrige textos 'INCLUIR' que dão erro)
df_unificada['INDE_ATUAL'] = pd.to_numeric(df_unificada['INDE_ATUAL'], errors='coerce')

#Ordenação
if 'RA' in df_unificada.columns:
    df_unificada = df_unificada.sort_values(by=['RA', 'PEDE_ANO'])

In [13]:
df_unificada.to_excel(caminho_saida, index=False)

In [12]:
df_unificada.head(10)

,RA,Fase,Turma,Nome Anonimizado,Data de Nasc,Idade,Gênero,Ano ingresso,Instituição de ensino,Pedra 20,...,INDE 23,IPP,Destaque IPV.1,INDE 2024,Pedra 2024,Avaliador5,Avaliador6,Escola,Ativo/ Inativo,Ativo/ Inativo.1
0,RA-1,7,A,Aluno-1,2003,19,Feminino,2016,Escola Pública,Ametista,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855,RA-1,FASE 8,8E,Aluno-1,2003-03-10 00:00:00,1900-01-20 00:00:00,Feminino,2016,Privada *Parcerias com Bolsa 100%,Ametista,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2958,RA-1,8E,8E,Aluno-1,2003-10-03 00:00:00,21,Feminino,2021,Privada *Parcerias com Bolsa 100%,Ametista,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Universidade Santo Amaro (UNISA),Cursando,Cursando
9,RA-10,7,A,Aluno-10,2004,18,Feminino,2021,Escola Pública,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,RA-100,4,A,Aluno-100,2009,13,Feminino,2019,Rede Decisão,Ametista,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,RA-1000,ALFA,ALFA U - G2/G3,Aluno-1000,4/20/2015,8,Feminino,2023,Pública,NaN,...,NaN,6.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2225,RA-1000,1N,1N,Aluno-1000,2015-04-20 00:00:00,9,Feminino,2023,Pública,NaN,...,7.9162,8.125000,NaN,8.364791,Topázio,NaN,NaN,EE Helio Luiz Dobrochinski Prof,Cursando,Cursando
1074,RA-1001,ALFA,ALFA U - G2/G3,Aluno-1001,3/13/2014,9,Feminino,2023,Pública,NaN,...,NaN,7.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2227,RA-1001,1N,1N,Aluno-1001,2014-03-13 00:00:00,10,Feminino,2023,Pública,NaN,...,8.1162,7.916667,NaN,7.796432,Ametista,NaN,NaN,EE Helio Luiz Dobrochinski Prof,Cursando,Cursando
1075,RA-1002,ALFA,ALFA U - G2/G3,Aluno-1002,7/13/2014,9,Feminino,2023,Pública,NaN,...,NaN,6.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN